* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  width: 1570px;
}
.body-box {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.profile-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
  /* margin-top: 20px; */
  /* margin: 0 10px; */
}
.user-icon {
  font-size: 50px;
  margin-right: 10px;
  color: #80073c;
}
.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 320px;
  margin: 20px 0;
}
.profile-picture img {
  width: 250px;
  margin-bottom: 10px;
}
.profile-data {
  width: 100%;
  height: auto;
  background: rgba(125, 6, 51, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-radius: 30px;
  border: solid 2px #80073c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-data p {
  background: #fff;
  margin: 10px 0;
  width: 90%;
  padding: 5px 30px;
  border-radius: 10px;
  border: solid 1px #80073c;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 3px 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.profile-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.profile-info button {
  width: 250px;
  height: 60px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.edit-data {
  background: #80073c;
  color: #fff;
  border: none;
  transition: all 0.3s;
}
button.edit-data:hover {
  transform: scale(1.05);
}
button.edit-data:active {
  transform: scale(0.95);
}
button.ch-password {
  background: none;
  color: #000;
  border: solid 2px #000;
  transition: all 0.3s;
}
button.ch-password:hover {
  transform: scale(1.05);
}
button.ch-password:active {
  transform: scale(0.95);
}
@media (max-width: 1600px) {
  .container-fluid {
    width: 1320px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1400px) {
  .container-fluid {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container-fluid {
    width: 960px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .container-fluid {
    width: 720px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 768px) {
  .container-fluid {
    width: 670px;
  }
  .body-box {
    padding: 30px 0;
  }
  .profile-data {
    padding: 10px 0;
  }
  .profile-data p {
    font-size: 22px;
  }
  .profile-info {
    margin-top: 20px;
  }
}
@media (max-width: 670px) {
  .container-fluid {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .profile-data{
    padding: 10px;
  }
  .profile-data p{
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
  }
  .profile-info{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .profile-info button{
    width: 97%;
    margin: 5px 0;
  }
}
